*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  min-height: 100vh;
  max-width: 964px;
}

.game {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  min-height: 450px;
}

.game-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.game-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.game-title > .logo {
  height: 30px;
}

.game-title > .text {
  font-size: 0.675rem;
}

.character-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.character-name {
  background-color: #3b82f6;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 12px;
  text-align: center;
  width: 100%;
}

.character-image {
  height: 180px;
  width: 180px;
}
